@import '../../../node_modules/bootstrap-4-grid/css/grid.min.css';
@import 'variables.scss';
@import 'btn/btn.scss';
@import 'title/sec-title.scss';
@import 'card/cards.scss';

body {
  background-color: $black-body;
  h1 {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 100;
  }
  h2 {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    font-size: 26px;
  }
  h3 {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  p, li, a, span {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
// @media #{$medium-and-up} {
//   .container {
//     width: 85%;
//   }
// }
// @media #{$large-and-up} {
//   .container {
//     width: 70%;
//   }
// }