@import '../../../assets/scss/mixins.scss';

.text-field {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 0px;
  color: white;
  z-index: 1;
  div {
    transition-duration: .5s;
    height: fit-content;
    position: absolute;
    bottom: 0;
    padding: 10px 10px 10px;
  }
  h3 {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
  }
  p {
    margin: 0;
    font-weight: 200;
  }
  &::after {
    transition-duration: .5s;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.616), #000);
    z-index: -1;
  }
}

.card-stream {
  span {
    position: absolute;
    bottom: 10px;
    svg {
      fill: #a1a1a1;
      width: 15px;
      height: 15px;
    }
    p {
      transition-duration: .2s;
      position: absolute;
      left: 20px;
      bottom: 5px;
      opacity: 0;
    }
  }
}

.card-stream-page {
  max-width: 800px;
  margin: 0px auto 20px;
  .streamer {
    border: 1px solid #a1a1a1;
    padding: 5px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info-streamer {
    position: relative;
    background-color: $black-footer;
    transform: translateX(20px);
    color: $grey-text;
    padding-top: 50px;
    .social-medias {
      display: inline;
      svg {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        fill: $grey-text;
      }
    }
    img {
      position: absolute;
      z-index: -1;
      top: 50px;
      left: 100px;
      width: 300px;
      height: 100px;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 100;
      margin-top: 0;
    }
    p {
      font-size: 10px;
      margin: 0;
    }
  }
}


.cards-area {
  display: inline-flex;
}
.card-teams {
  max-width: 25%;
  position: relative;
  margin: 20px;
  &:hover {
    img {
      transition-duration: .5s;
      filter: brightness(100%);
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition-duration: .5s;
    &.game-logo {
      position: absolute;
      bottom: 50px;
      width: 50%;
      left: 25%;
      filter: unset;
    }
  }
  p {
    letter-spacing: 10px;
    color: $grey-text;
    position: absolute;
    right: -75px;
    bottom: 230px;
    font-size: 10px;
    transform: rotate(270deg);
    &::after {
      content: '-';
    }
  }
  .border-card {
    position: absolute;
    top: -10px;
    left: 14px;
    right: -14px;
    bottom: 10px;
    border: 1px solid $grey-text;
    z-index: 99999;
  }
  
}


#single-teams {
  .card-stream {
    margin: 20px;
    max-width: 25%;
    min-height: 300px;
    border: none;
    img {
      width: 100%;
      min-height: 300px;
      object-fit: cover;
    }
    .text-field {
      h3 {
        font-size: 12px;
      }
      p {
        font-size: 10px;
      }
    }
    &:hover {
      #fb {
        @include svg-stream(180px);
      }
      #is {
        @include svg-stream(180px);
      }
      #tt {
        @include svg-stream(180px);
      }
    }
    .border-card {
      position: absolute;
      top: -10px;
      left: 14px;
      right: -14px;
      bottom: 10px;
      border: 1px solid $grey-text;
      z-index: 99999;
    }    
  }
}


  .card-stream {
    position: relative;
    border: .5px solid white;
    border-radius: 5px;
    padding: 4px;
    p {
      font-size: 10px;
    }
    img {
      width: 100%;
      height: 250px;
    }
    &:hover {
      .text-field {
        div {
          transition-duration: .5s;
          bottom: 150px;
        }
        #fb {
          transition-duration: .5s;
          @include svg-stream(245px);
          bottom: 120px;
          p {
            transition-delay: .5s;
            opacity: 1;
          }
        }
        #is {
          transition-duration: .5s;
          @include svg-stream(245px);
          bottom: 90px;
          p {
            transition-delay: .5s;
            opacity: 1;
          }
        }
        #tt {
          transition-duration: .5s;
          @include svg-stream(245px);
          bottom: 60px;
          p {
            transition-delay: .5s;
            opacity: 1;
          }
        }
        &::after {
          transition-duration: .5s;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.411),
          rgba(0, 0, 0, 0.787), #000);
        }
      }
    }
  }